body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
p,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	color: Black;
}
a {
	color: #0000CC;
	text-decoration: none;
}
a:hover {
	color: Navy;
	text-decoration: none;
}
h1 {
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
	color: #666666;
}
.menu {
	border-top: 1px solid ghostwhite;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid ghostwhite;
	background-color: ghostwhite;
}
.menuOn {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #333333;
}
.red {
	color: red;
}
